.searchInput {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color:gray;
}
.searchInput::placeholder {
    color: rgb(117, 117, 117);
}

.inputWrapper {
    width: 30%;
}